In [21]:
import pandas

In [22]:
roster = pandas.read_csv( '/Users/alex/Documents/bagel-main/roster.csv' )

In [26]:
roster.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            129, 130, 131, 132, 133, 134, 135, 136, 137, 138],
           dtype='int64', length=139)

In [27]:
pandas.DataFrame( index=roster.index 
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                )

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[139 rows x 0 columns]

In [25]:
roster.head()

   index mutant note  jeff
0      1  c167a  NaN  jeff
1      2  e164a  NaN  jeff
2      3  e222a  NaN  jeff
3      4  e353a  NaN  jeff
4      5  h178a  NaN  jeff